@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  display: flex;
  align-items: center;
}
:root {
  font-family: 'Onest Variable', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #111111;
  color: #E5D5C4;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav *{
  position: relative;
  text-decoration: none;
  padding: 0 10px;
}

nav *:after{
  content: "";
  position: absolute;
  background-color: #BF1516;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

nav *:hover{
  color: #fff
}

nav *:hover:after{
  width: 100%;
}